{% extends "main.html" %}

{% block title %}
Мой первый сайт
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">
{% endblock %}

{% block body %}

  <div class="Text">
    <center>
        <h1>Мой первый сайт</h1>
        <h2>Меня зовут Андрей и это мой первый сайт который я сделал про себя</h2>
    </center>

    <blockquote>
        <details>
            <summary> <i>Как я пришёл к програмированию и что было дальше</i> </summary>
                <p>
                    В первые я столкнулся с програмированием в школе. Меня однажды пригласили на факультатив по информатике.
                    И там я познакомился с паскалем. <b> Я был в восторге.</b> <i>Я рисовал всякие фигуры, решал задачи, создавал
                    мини-прилложения</i> в Exel, типо калькулятора. Занимался я до тех пор, пока не прорешал все задачи какие были.
                    Через некоторое время я решил, зная что паскаль не подходит, делать приложения. Узнал для начала самый популярный
                    язык програмирования, на то время это был <mark>C++</mark>. Я начал его учить через приложение <ins>Sololearn</ins>
                    Вообщем, я не был тогда настроен серьёзно и бросил плюсы при одной из первой сложности.
                    Через некоторое время, после того как я случайно увидел мотивирующий ролик по програмированию, я снова захотел
                    что-то учить. Я хотел "начать" c простого и выбрал <mark>Python</mark>. По изучав его я захотел делать
                    приложения / игры / сайты. Поняв что приложения и игры делать на питоне можно, но нет спецальных для
                    инструментов, я отказался от этой идеи. Попытка сделать сайты на первом фреймворке пайтона завершилась
                </p>
        </details>
        <h3>Я работал с такими языками програмирования / разметки как:</h3>
        <ul>
            <li>Pascal</li>
            <li>Exel</li>
            <li>Python</li>
            <li>C#</li>
            <li>HTML</li>
        </ul>
    </blockquote>
  </div>
  <center>
     <a href="/comment">ТУТ коменнты</a>
  </center>
{% endblock %}